//define often needed variables here 

/*****************FONT-MIXINS**********************/

//size
@text_button: 14pt;
@text_menu: 14pt;
@text_caption: 12pt;
@text_body: 14pt;
@text_subheading: 12pt;
@text_title: 20pt;
@text_headline: 24pt;
//weight
@regular: 400;
@medium: 500;

/*****************COLOR-MIXINS**********************/

//frome pantone ny fashion week 2017 color palette
@grenadine: #DE413A;
@navypeony: #233B5D;
@neutralgrey: #8F9190;
@autumnmaple: #C26225;