/************************* Allgemein **************************/

body {
    font-family: "Roboto";
    font-weight: @regular;
    font-size: @text_body;
}

.has-navbar-top .app-body {
    padding: 56px 0px;
    background: white;
}

.white {
    color: white !important;
}

#listenicon {
    padding: 16px 8px;
    color: @neutralgrey !important;
    font-size: 21px;
}

.listeneintrag {
    font-size: @text_menu;
    color: black;
    padding: 20px 0;
}

// ----- momentan irrelevant ----
.scrollable-header app-name {
    weight: 900;
    font-size: 20px;
    padding: 300px;
}

.scrollable-header user-name,
.scrollable-header user-email {
    padding: 8px;
}

//----- wieder relevant------
// Abstand des Logos von oben
.our-menu {
    top: 56px;
    background: white;
}


/************************* Topbar **************************/

.navbar-absolute-top {
    background: @navypeony;
    padding: 0 16px;
    // Icons;
    i {
        color: white;
        font-size: @text_button;
    }
    i.left {
        margin-left: 32px;
    }
}

// Titel in leiste oben
.navbar-brand {
    width: 60%;
    height: 39px;
    display: block;
    //font-size: @text_title;
    //padding: 18px 0 16px 16px;
    //text-overflow: ellipsis;
    overflow: hidden;
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}


/************************* Sidebar **************************/

.list-group-item {
    background: white;
    padding: 20px;
}

.list-group-item.active,
.list-group-item.focus,
.list-group-item.hover {
    background: @neutralgrey !important;
    border-bottom-color: @neutralgrey !important;
}

#menuicon {
    color: @navypeony;
    padding-bottom: 8px;
    padding-right: 16px;
    font-size: 21px;
}

.line {
    width: 100%;
    height: 0px;
    border-bottom: 1px solid black;
    position: relative;
}


/************************* ? **************************/

// Zwischenüberschriften bei Auflistungen
.lead {
    padding: 8px;
    color: @navypeony;
    font-size: @text_subheading;
    weight: @medium;
    margin-bottom: -10px;
}


/************************* Login **************************/

// Login Remember Switch
.switch.active {
    background: @neutralgrey;
    border-color: @navypeony;
}

// Login Remeber Switch Rand
.switch switch-handle.active {
    border-color: @navypeony;
}

// Login Button
.btn {
    background: @navypeony !important;
    border-color: @navypeony !important;
}

.img-grid {
    max-height: auto;
    max-width: auto;
    align-self: center;
}

.bg-grid {
    background: @neutralgrey;
    border-color: white;
    border-width: 8px;
    border-style: solid;
    float: left;
    width: 50%;
    height: 40%;
    padding: 10px;
}

.text-grid {
    background: @navypeony !important;
    width: auto;
    height: auto;
}

.listeneintrag-grid {
    font-size: @text_body;
    color: white;
    padding: 20px 0;
}

.li {
    display: inline-block;
    width: 50%;
}


/************************* Single-Art? **************************/

.tabs {
    color: black;
    font-size: @text_subheading;
    padding: 16px;
    //background: @balletslipper;
}

.tabnames {
    color: @navypeony !important;
    font-size: @text_button;
    weight: @medium;
}

.crop {
    height: 150px !important;
    overflow: hidden !important;
    object-fit: cover;
}

.crop img {
    width: 100%;
    position: relative;
    z-index: 1;
}

#zoom {
    position: absolute;
    right: 40px;
    font-size: 2em;
    top: 130px;
    z-index: 10;
    color: white;
    text-shadow: 1px 1px 1px #ccc;
}

.art-chevron {
    margin-top: 200px;
    font-size: 2em;
}

//modal
.modal-body {
    padding: 0px;
}