<!-- This is all temporary stuff to setup a list of catalogues with titles and stuff. -->

<div class="scrollable" ng-controller="AllCatCtrl">
    <div class="scrollable-content">
        <section class="section container-fluid">
            <div ng-repeat="catalogue in allcatalogues" ng-if="!$first">
                <a ng-click="setCatalog(catalogue)" ng-href="#/catalog">
                    <i class="fa fa-book" aria-hidden="true" class="listenicons" ng-click="clicked()"></i>
                    <span class="listeneintrag" id="title">
                            {{catalogue.Titel}}
                        </span>
                    <br>
                    <i class="fa fa-users" aria-hidden="true" id="listenicon"></i>
                    <span class="listeneintrag">
                            {{catalogue.Autor}}
                        </span>
                    <div class="line"></div>
                </a>
            </div>
        </section>
    </div>
</div>