<div class="scrollable" ng-controller="ArtCtrl">
    <div class="scrollable-content">

        <section class="section container-fluid">

            <div ng-repeat="media in itemMedia" ng-if="!$first">
                <img src={{media.Medien}}>
                <p>{{media.Titel}}</p>
            </div>

            <div class="tabs" ui-state="activeTab" default="1">
                <ul class="nav nav-tabs">
                    <li ui-class="{'active': activeTab == 1}">
                        <a class="tabnames" ui-set="{'activeTab': 1}">Informationen</a>
                    </li>
                    <li ui-class="{'active': activeTab == 2}">
                        <a class="tabnames" ui-set="{'activeTab': 2}">Details</a>
                    </li>
                    <li ui-class="{'active': activeTab == 3}">
                        <a class="tabnames" ui-set="{'activeTab': 3}">Bestandteile</a>
                    </li>
                </ul>

                <div ui-if="activeTab == 1">
                    {{singleItem.Text}}
                </div>

                <div ui-if="activeTab == 2">
                    <p>Titel: {{singleItem.Titel}}</p>
                    <p>Literatur: {{singleItem.Literatur}}</p>

                </div>
                <div ui-if="activeTab == 3">
                    <div ng-repeat="media in itemMedia" ng-if="!$first">
                        <p>Titel: {{media.Titel}}</p>
                        <div ng-repeat="detail1 in media.Details" ng-if="!$first">
                            <p>{{detail1.Typ}}: {{detail1.Detail}}</p>
                        </div>
                        <img src={{media.Medien}}>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>