<div class="scrollable" ng-controller="ArtCtrl">
    <div class="scrollable-content">

        <section class="section container-fluid">
            <div class="container">


                <a href="" ui-turn-on="modal2" aria-hidden="true">
                    <i class="fa fa-eye" id="zoom"></i>
                    <div class="crop">
                        <img src={{singleItem.Medien[1].Medien}} class="crop">
                        <!--<img src="../images/1.PNG" class="crop">-->
                    </div>
                </a>
            </div>

            <div class="tabs" ui-state="activeTab" default="1">
                <ul class="nav nav-tabs">
                    <li ui-class="{'active': activeTab == 1}">
                        <a class="tabnames" ui-set="{'activeTab': 1}">Informationen</a>
                    </li>
                    <li ui-class="{'active': activeTab == 2}">
                        <a class="tabnames" ui-set="{'activeTab': 2}">Details</a>
                    </li>
                </ul>

                <div ui-if="activeTab == 1">
                    {{singleItem.Text}}
                </div>

                <div ui-if="activeTab == 2">
                    <p>Titel: {{singleItem.Titel}}</p>
                    <p>Literatur: {{singleItem.Literatur}}</p>
                    <div ng-repeat="media in itemMedia" ng-if="!$first">
                        <p>Titel: {{media.Titel}}</p>
                        <div ng-repeat="detail1 in media.Details" ng-if="!$first">
                            <p>{{detail1.Typ}}: {{detail1.Detail}}</p>
                        </div>
                        <img src={{media.Medien}}>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if='modal2' ui-shared-state='modal2'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" ui-turn-off="modal2">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div id="art-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#art-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#art-carousel" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src={{singleItem.Medien[1].Medien}}>
                                <div class="carousel-caption">
                                    <h3>{{singleItem.Medien[1].Titel}}</h3>
                                    <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                                </div>
                            </div>
                            <div class="item" ng-repeat="media in itemMedia" ng-if="!$first">
                                <img src={{media.Medien}}>
                                <div class="carousel-caption">
                                    <h3>{{media.Titel}}</h3>
                                    <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" data-target="#art-carousel" data-slide="prev">
                        <i class="fa fa-chevron-left art-chevron" aria-hidden="true"></i>
                    </a>
                    <a class="right carousel-control" data-target="#art-carousel" data-slide="next">
                        <i class="fa fa-chevron-right art-chevron" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button ui-turn-off="modal2" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
</div>
</div>