<div class="scrollable" ng-controller="HomeCtrl">
    <div class="scrollable-content">
        <section class="section container-fluid">
            <div ng-repeat="museum in museums" ng-if="!$first">
                <div ng-click="setMuseum(museum)" ng-href="#/museum" class="bg-grid">

                    <img src={{museum.Bild}} class="img-grid">

                    <div class="text-grid"><span class="listeneintrag-grid">
                        {{museum.Name}}</span></div>
                </div>
            </div>
        </section>
    </div>
</div>
