<div class="scrollable" ng-controller="HomeCtrl">
    <div class="scrollable-content">
        <section class="section container-fluid">
            <div ng-repeat="museum in museums" ng-if="!$first">
                <a ng-click="setMuseum(museum)" ng-href="#/museum">
                    <ul class="bg-grid">
                        <li><img src={{museum.Bild}} class="img-grid">
                        </li>
                        <li class="text-grid"><span class="listeneintrag-grid">
                        {{museum.Name}}</span></li>

                    </ul>
                </a>
            </div>
        </section>
    </div>
</div>
