<!-- HOME.HTML -->

<div class="scrollable" ng-controller="HomeCtrl">
    <div class="scrollable-content">
        <section class="section container-fluid">
            <!-- Museum List -->
            <div ng-if="notgrid">
                <div ng-repeat="museum in museums track by $index" ng-if="!$first">
                    <a ng-click="setMuseum(museum)" ng-href="#/museum">
                        <i class="fa fa-building-o" aria-hidden="true" id="listenicon"></i>
                        <span class="listeneintrag">{{museum.Name}}</span>
                    </a>
                </div>
            </div>

            <!-- Museum Grid -->
            <div ng-if="!notgrid">
                <div ng-repeat="museum in museums track by $index" ng-if="!$first">
                    <a ng-click="setMuseum(museum)" ng-href="#/museum" class="bg-grid">
                        <img src={{museum.Bild}} class="img-grid">
                        <div class="text-grid"><span class="listeneintrag-grid">
                        {{museum.Name}}</span></div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
