<div class="scrollable" ng-controller="HomeCtrl">
    <div class="scrollable-content">
        <section class="section container-fluid">
            <div ng-repeat="museum in museums" ng-if="!$first">
                <a ng-click="setMuseum(museum)" ng-href="#/museum">
                    <i class="fa fa-building-o" aria-hidden="true" id="listenicons"></i>
                    <span class="museumname">{{museum.Name}}</span>
                </a>
            </div>
        </section>
    </div>
</div>
