<!-- nur kopiert aus der mobile angular js demo -->

<div class="scrollable" ng-controller="LoginCtrl">
    <div class="scrollable-content section">

        <form role="form" ng-submit='login()' ng-if="!loggedin">

            <fieldset>
                <div class="form-group has-success has-feedback">
                    <label>Email</label>
                    <input type="email" ng-model="email.txt" class="form-control" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label>Passwort</label>
                    <input type="password" ng-model="password.txt" class="form-control" placeholder="Password">
                </div>

            </fieldset>

            <hr>

            <a class="btn btn-primary btn-block" ng-click="loginCheck()">Login</a>
        </form>

    </div>
</div>