<!-- nur kopiert aus der mobile angular js demo -->

<div class="scrollable" ng-controller="LoginCtrl">
    <div class="scrollable-content section">

        <form role="form" ng-submit='login()' ng-if="!loggedin">

            <fieldset>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" ng-model="email.txt" class="form-control" placeholder="Email">
                </div>

                <div class="form-group">
                    <label>Passwort</label>
                    <input type="password" ng-model="password.txt" class="form-control" placeholder="Passwort">
                </div>

            </fieldset>

            <hr>

            <a class="btn btn-primary btn-block" ng-click="loginCheck()">Login</a>

            <div ng-if="falselogin" class="warning">
                Die Emailadresse und / oder ihr Passwort sind nicht korrekt. Bitte überprüfen Sie ihre Zugangsdaten und versuchen Sie es erneut.
            </div>
        </form>

    </div>
</div>