<div class="scrollable" ng-controller="MyCatCtrl">
    <div class="scrollable-content">
        <section class="section container-fluid">

            <div ng-repeat="boughtCat in boughtCats">
                <a ng-href="#/catalog" ng-click="setCatalog(boughtCat)">
                    <i class="fa fa-book" aria-hidden="true" id="listenicon"></i>
                    <span class="listeneintrag">
                    {{boughtCat.Titel}}
                    </span>
                </a>
            </div>

        </section>
    </div>
</div>