<div class="scrollable our-menu">
    <img src="/images/menu.png">


    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/home"><i class="fa fa-home pull-left" id="menuicon"></i>Startseite <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/my-catalogues"><i class="fa fa-book pull-left" id="menuicon"></i>Meine Kataloge <i class="fa fa-chevron-right pull-right"></i></a>
            <!-- start options are for development only -->
            <a class="list-group-item" href='#/all-catalogues'><i class="fa fa-shopping-cart pull-left" id="menuicon"></i>Alle Kataloge (temp) <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href='#/options'><i class="fa fa-cogs pull-left" id="menuicon"></i>Optionen<i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href='#/login'><i class="fa fa-sign-in pull-left" id="menuicon"></i>Login (temp) <i class="fa fa-chevron-right pull-right"></i></a>

            <!-- end options are for development only -->
        </div>
    </div>
</div>