<!-- SIDEBAR.HTML -->

<div class="scrollable our-menu">

    <!-- Image and Title -->
    <img src="https://images.unsplash.com/photo-1505085702750-96d89f461398?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">

    <p id="dicamu" class="shadow">DiCaMu</p>

    <!-- Navigation List -->
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>

            <!-- Startseite -->
            <a class="list-group-item" href="#/home"><i class="fa fa-home pull-left" id="menuicon"></i>Startseite <i class="fa fa-chevron-right pull-right"></i></a>

            <!-- Login -->
            <a class="list-group-item" href='#/login' ng-if="!loggedin"><i class="fa fa-sign-in pull-left" id="menuicon"></i>Login<i class="fa fa-chevron-right pull-right"></i></a>

            <!-- Meine Kataloge -->
            <a class="list-group-item" href="#/my-catalogues" ng-if="loggedin"><i class="fa fa-book pull-left" id="menuicon"></i>Meine Kataloge <i class="fa fa-chevron-right pull-right"></i></a>

            <!-- Logout If Logged In -->
            <a class="list-group-item" href="#/login" ng-click="logOut()" ng-if="loggedin"><i class="fa fa-sign-out pull-left" id="menuicon"></i>Logout<i class="fa fa-chevron-left pull-right"></i></a>
        </div>
    </div>
</div>