<div class="navbar navbar-app navbar-absolute-top white" ng-controller="TopCtrl">

    <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle" ng-if="notart">
            <i class="fa fa-bars"></i>
        </div>
        <a ng-if="!notart" ng-href="#/catalog" class="fa fa-chevron-left btn white"></a>
    </div>

    <marquee scrollamount="3" class="navbar-brand navbar-brand-pull-left" ui-yield-to="title">
        {{topTitle}}
    </marquee>
    <div class="btn-group pull-right" ui-yield-to="navbarAction">
        <div class="btn">
            <i ng-class="{'fa fa-th': notgrid, 'fa fa-list': !notgrid }" ng-click="setStatus()"></i>
        </div>

        <div class="btn">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>