<!-- TOPBAR.HTML -->

<div class="navbar navbar-app navbar-absolute-top white" ng-controller="TopCtrl">

    <!-- Buttons Left -->
    <div class="btn-group pull-left">

        <!-- Hamburger Menu -->
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle" ng-if="notart">
            <i class="fa fa-bars"></i>
        </div>

        <!-- Back Button -->
        <a ng-href="javascript:void(0);" class="fa fa-chevron-left btn white" ng-click="go_back()"></a>
    </div>

    <!-- Scrolling Title -->
    <marquee scrollamount="3" class="navbar-brand navbar-brand-pull-left" ui-yield-to="title">
        {{topTitle}}
    </marquee>

    <!-- Button Right -->
    <div class="btn-group pull-right" ui-yield-to="navbarAction" ng-if="notcatalog">

        <!-- Grid List View Changer -->
        <div class="btn">
            <i ng-class="{'fa fa-th': notgrid, 'fa fa-list': !notgrid }" ng-click="setStatus()"></i>
        </div>
    </div>
</div>
