<div class="navbar navbar-app navbar-absolute-top">

    <div class="btn-group pull-left">

        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle" *ngIf="notart; else elseBlock">
            <i class="fa fa-bars"></i>
        </div>
        <i #elseBlock class="fa fa-chevron-left"></i>
    </div>

    <div class="navbar-brand navbar-brand-pull-left" ui-yield-to="title">
        {{topTitle}}
    </div>
    <div class="btn-group pull-right" ui-yield-to="navbarAction">
        <div ui-toggle="uiSidebarRight" class="btn">
            <i class="fa fa-th"></i>
        </div>
        <div ui-toggle="uiSidebarRight" class="btn">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>